In [1]:
import pandas as pd
from pathlib import Path
import json

In [9]:
#Load the .json file
json_borders = r"C:\Users\tamik\Documents\Repositories\Visualisation_Project\worldborders.json"
borders_df = pd.read_json(json_borders)
borders_df.head()

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
1  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
2  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
3  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
4  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...

In [17]:
# Extract and normalize the 'properties' column into separate columns for merging 
properties_df = pd.json_normalize(borders_df['features'].apply(lambda x: x['properties']))
geometries_df = pd.json_normalize(borders_df['features'].apply(lambda x: x['geometry']))
borders_normalised_df = pd.concat([properties_df, geometries_df], axis=1)
borders_normalised_df.head()

,name,type,coordinates
0,Afghanistan,MultiPolygon,"[[[[74.92, 37.24], [74.57, 37.03], [72.56, 36...."
1,Albania,MultiPolygon,"[[[[19.44, 41.02], [19.37, 41.85], [19.65, 42...."
2,Algeria,MultiPolygon,"[[[[2.96, 36.8], [8.62, 36.94], [8.18, 36.52],..."
3,Samoa,MultiPolygon,"[[[[-170.64, -14.29], [-170.83, -14.33], [-170..."
4,Andorra,MultiPolygon,"[[[[1.78, 42.57], [1.72, 42.51], [1.45, 42.6],..."

In [19]:
borders_normalised_df.rename(columns={'name': 'Country Name'}, inplace=True)
borders_normalised_df.head()

,Country Name,type,coordinates
0,Afghanistan,MultiPolygon,"[[[[74.92, 37.24], [74.57, 37.03], [72.56, 36...."
1,Albania,MultiPolygon,"[[[[19.44, 41.02], [19.37, 41.85], [19.65, 42...."
2,Algeria,MultiPolygon,"[[[[2.96, 36.8], [8.62, 36.94], [8.18, 36.52],..."
3,Samoa,MultiPolygon,"[[[[-170.64, -14.29], [-170.83, -14.33], [-170..."
4,Andorra,MultiPolygon,"[[[[1.78, 42.57], [1.72, 42.51], [1.45, 42.6],..."

In [8]:
#create path to csv file:
combined = Path(r"C:\Users\tamik\Documents\Repositories\Visualisation_Project\Resources\combined_data.csv")
combined_df=pd.read_csv(combined)
combined_df.head()

,Country_id,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers,GDP per capita,Unemployment,Health expenditure
0,0,Afghanistan,1980,5.700000,10.400000,18.400000,2.400000,733520,81707,651813,291.649791,NaN,NaN
1,1,Albania,1980,18.700001,21.299999,38.400002,3.400000,360902,27584,333318,NaN,NaN,NaN
2,2,Algeria,1980,19.100000,15.600000,30.500000,0.800000,1636110,44442,1591668,2259.724367,NaN,NaN
3,3,Andorra,1980,17.600000,30.500000,36.700001,24.799999,7636,3244,4391,12534.822708,NaN,NaN
4,4,Angola,1980,22.700001,8.700000,16.700001,1.100000,355432,23628,331804,711.941169,NaN,NaN

In [20]:
#create path to csv file:
smoking = Path(r"C:\Users\tamik\Documents\Repositories\Visualisation_Project\Resources\smoking.csv")
smoking_df = pd.read_csv(smoking)
smoking_df.head()

,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers
0,Afghanistan,1980,5.700000,10.400000,18.400000,2.400000,733520,81707,651813
1,Albania,1980,18.700001,21.299999,38.400002,3.400000,360902,27584,333318
2,Algeria,1980,19.100000,15.600000,30.500000,0.800000,1636110,44442,1591668
3,Andorra,1980,17.600000,30.500000,36.700001,24.799999,7636,3244,4391
4,Angola,1980,22.700001,8.700000,16.700001,1.100000,355432,23628,331804

In [22]:
#filter data to 2000 for one df and 2012 for another 
smoking_2000 = smoking_df[smoking_df['Year'] == 2000]
smoking_2000.head()

smoking_2012 = smoking_df[smoking_df['Year'] == 2012]
smoking_2012.head()

,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers
6016,Afghanistan,2012,5.2,11.9,21.100000,2.5,1862700,193836,1668864
6017,Albania,2012,19.9,20.5,37.299999,3.9,509040,48426,460614
6018,Algeria,2012,24.4,11.2,21.299999,0.9,3123101,122671,3000430
6019,Andorra,2012,19.9,26.6,31.500000,22.0,17757,7542,10216
6020,Angola,2012,17.9,8.7,16.299999,1.5,954216,81267,872950

In [23]:
# Merge the cordinates and the smoking DataFrames
coordinates_2000 = smoking_2000.merge(borders_normalised_df, on=['Country Name'], how='left')
coordinates_2000.head()

,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers,type,coordinates
0,Afghanistan,2000,3.700000,11.8,21.000000,2.3,1228925,120114,1108812,MultiPolygon,"[[[[74.92, 37.24], [74.57, 37.03], [72.56, 36...."
1,Albania,2000,16.799999,20.0,37.599998,3.0,461078,35035,426043,MultiPolygon,"[[[[19.44, 41.02], [19.37, 41.85], [19.65, 42...."
2,Algeria,2000,17.500000,15.8,30.700001,0.7,3296121,76851,3219270,MultiPolygon,"[[[[2.96, 36.8], [8.62, 36.94], [8.18, 36.52],..."
3,Andorra,2000,19.400000,30.5,37.000000,24.4,15541,6442,9100,MultiPolygon,"[[[[1.78, 42.57], [1.72, 42.51], [1.45, 42.6],..."
4,Angola,2000,22.100000,8.9,16.900000,1.3,648075,46818,601257,MultiPolygon,"[[[[14, -5.85], [16.58, -5.9], [17.62, -8.1], ..."

In [24]:
# Merge the cordinates and the smoking DataFrames
coordinates_2012 = smoking_2012.merge(borders_normalised_df, on=['Country Name'], how='left')
coordinates_2012.head()

,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers,type,coordinates
0,Afghanistan,2012,5.2,11.9,21.100000,2.5,1862700,193836,1668864,MultiPolygon,"[[[[74.92, 37.24], [74.57, 37.03], [72.56, 36...."
1,Albania,2012,19.9,20.5,37.299999,3.9,509040,48426,460614,MultiPolygon,"[[[[19.44, 41.02], [19.37, 41.85], [19.65, 42...."
2,Algeria,2012,24.4,11.2,21.299999,0.9,3123101,122671,3000430,MultiPolygon,"[[[[2.96, 36.8], [8.62, 36.94], [8.18, 36.52],..."
3,Andorra,2012,19.9,26.6,31.500000,22.0,17757,7542,10216,MultiPolygon,"[[[[1.78, 42.57], [1.72, 42.51], [1.45, 42.6],..."
4,Angola,2012,17.9,8.7,16.299999,1.5,954216,81267,872950,MultiPolygon,"[[[[14, -5.85], [16.58, -5.9], [17.62, -8.1], ..."

In [28]:
#Export the files to CSV
output_file_path_2000= Path('Resources\coordinates_2000.csv') 
smoking_2000.to_csv(output_file_path_2000, index=False)

OSError: Cannot save file into a non-existent directory: 'Resources'

In [ ]:
output_file_path_2012= Path('Resources\coordinates_2012.csv') 
smoking_2012.to_csv(output_file_path_2012, index=False)