In [24]:
import pandas as pd
from pathlib import Path
import json

In [25]:
#Load the .json file
json_borders = r"C:\Users\tamik\Documents\Repositories\Visualisation_Project\worldborders.json"
borders_df = pd.read_json(json_borders)
borders_df.head()

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
1  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
2  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
3  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...
4  FeatureCollection  {'type': 'Feature', 'geometry': {'type': 'Mult...

In [26]:
# Extract and normalize the 'properties' column into separate columns for merging 
properties_df = pd.json_normalize(borders_df['features'].apply(lambda x: x['properties']))
geometries_df = pd.json_normalize(borders_df['features'].apply(lambda x: x['geometry']))
borders_normalised_df = pd.concat([properties_df, geometries_df], axis=1)
borders_normalised_df.head()

,name,type,coordinates
0,Afghanistan,MultiPolygon,"[[[[74.92, 37.24], [74.57, 37.03], [72.56, 36...."
1,Albania,MultiPolygon,"[[[[19.44, 41.02], [19.37, 41.85], [19.65, 42...."
2,Algeria,MultiPolygon,"[[[[2.96, 36.8], [8.62, 36.94], [8.18, 36.52],..."
3,Samoa,MultiPolygon,"[[[[-170.64, -14.29], [-170.83, -14.33], [-170..."
4,Andorra,MultiPolygon,"[[[[1.78, 42.57], [1.72, 42.51], [1.45, 42.6],..."

In [27]:
borders_normalised_df.rename(columns={'name': 'Country Name'}, inplace=True)
borders_normalised_df.head()

,Country Name,type,coordinates
0,Afghanistan,MultiPolygon,"[[[[74.92, 37.24], [74.57, 37.03], [72.56, 36...."
1,Albania,MultiPolygon,"[[[[19.44, 41.02], [19.37, 41.85], [19.65, 42...."
2,Algeria,MultiPolygon,"[[[[2.96, 36.8], [8.62, 36.94], [8.18, 36.52],..."
3,Samoa,MultiPolygon,"[[[[-170.64, -14.29], [-170.83, -14.33], [-170..."
4,Andorra,MultiPolygon,"[[[[1.78, 42.57], [1.72, 42.51], [1.45, 42.6],..."

In [28]:
#create path to csv file:
combined = Path(r"C:\Users\tamik\Documents\Repositories\Visualisation_Project\Resources\combined_data.csv")
combined_df=pd.read_csv(combined)
combined_df.head()

,Country_id,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers,GDP per capita,Unemployment,Health expenditure
0,0,Afghanistan,1980,5.700000,10.400000,18.400000,2.400000,733520,81707,651813,291.649791,NaN,NaN
1,1,Albania,1980,18.700001,21.299999,38.400002,3.400000,360902,27584,333318,NaN,NaN,NaN
2,2,Algeria,1980,19.100000,15.600000,30.500000,0.800000,1636110,44442,1591668,2259.724367,NaN,NaN
3,3,Andorra,1980,17.600000,30.500000,36.700001,24.799999,7636,3244,4391,12534.822708,NaN,NaN
4,4,Angola,1980,22.700001,8.700000,16.700001,1.100000,355432,23628,331804,711.941169,NaN,NaN

In [29]:
#create path to csv file:
smoking = Path(r"C:\Users\tamik\Documents\Repositories\Visualisation_Project\Resources\smoking.csv")
smoking_df = pd.read_csv(smoking)
smoking_df.head()

,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers
0,Afghanistan,1980,5.700000,10.400000,18.400000,2.400000,733520,81707,651813
1,Albania,1980,18.700001,21.299999,38.400002,3.400000,360902,27584,333318
2,Algeria,1980,19.100000,15.600000,30.500000,0.800000,1636110,44442,1591668
3,Andorra,1980,17.600000,30.500000,36.700001,24.799999,7636,3244,4391
4,Angola,1980,22.700001,8.700000,16.700001,1.100000,355432,23628,331804

In [30]:
#filter data to 2000 for one df and 2012 for another 
smoking_2000 = smoking_df[smoking_df['Year'] == 2000]
smoking_2000.head()

smoking_2012 = smoking_df[smoking_df['Year'] == 2012]
smoking_2012.head()

,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers
6016,Afghanistan,2012,5.2,11.9,21.100000,2.5,1862700,193836,1668864
6017,Albania,2012,19.9,20.5,37.299999,3.9,509040,48426,460614
6018,Algeria,2012,24.4,11.2,21.299999,0.9,3123101,122671,3000430
6019,Andorra,2012,19.9,26.6,31.500000,22.0,17757,7542,10216
6020,Angola,2012,17.9,8.7,16.299999,1.5,954216,81267,872950

In [31]:
# Merge the cordinates and the smoking DataFrames
coordinates_2000 = smoking_2000.merge(borders_normalised_df, on=['Country Name'], how='left')
coordinates_2000
coordinates_2000.drop_duplicates(subset=['Country Name'])
coordinates_2000

,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers,type,coordinates
0,Afghanistan,2000,3.700000,11.8,21.000000,2.3,1228925,120114,1108812,MultiPolygon,"[[[[74.92, 37.24], [74.57, 37.03], [72.56, 36...."
1,Albania,2000,16.799999,20.0,37.599998,3.0,461078,35035,426043,MultiPolygon,"[[[[19.44, 41.02], [19.37, 41.85], [19.65, 42...."
2,Algeria,2000,17.500000,15.8,30.700001,0.7,3296121,76851,3219270,MultiPolygon,"[[[[2.96, 36.8], [8.62, 36.94], [8.18, 36.52],..."
3,Andorra,2000,19.400000,30.5,37.000000,24.4,15541,6442,9100,MultiPolygon,"[[[[1.78, 42.57], [1.72, 42.51], [1.45, 42.6],..."
4,Angola,2000,22.100000,8.9,16.900000,1.3,648075,46818,601257,MultiPolygon,"[[[[14, -5.85], [16.58, -5.9], [17.62, -8.1], ..."
...,...,...,...,...,...,...,...,...,...,...,...
184,Vietnam,2000,11.200000,25.5,50.099998,2.5,14126647,723536,13403111,MultiPolygon,"[[[[105.58, 23.06], [106.71, 22.86], [106.69, ..."
185,World,2000,18.000000,21.6,35.700001,7.5,920970035,160968100,760001904,NaN,NaN
186,Yemen,2000,25.100000,18.0,27.000000,8.8,1617865,394394,1223470,MultiPolygon,"[[[[52.23, 15.67], [43.96, 12.59], [43.25, 13...."
187,Zambia,2000,5.000000,11.1,19.500000,2.9,609767,79089,530678,MultiPolygon,"[[[[24.97, -17.56], [23.48, -17.63], [22, -16...."
188,Zimbabwe,2000,20.700001,11.0,19.900000,2.3,793598,85713,707885,MultiPolygon,"[[[[32.99, -17.27], [32.7, -18.94], [33.02, -1..."

In [32]:
#Drop missing value in merged file
cleaned_2000 = coordinates_2000.dropna()
cleaned_2000
cleaned_2000.drop(columns=['type'], inplace=True)
cleaned_2000.head()

C:\Users\tamik\AppData\Local\Temp\ipykernel_14728\1130118714.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_2000.drop(columns=['type'], inplace=True)

,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers,coordinates
0,Afghanistan,2000,3.700000,11.8,21.000000,2.3,1228925,120114,1108812,"[[[[74.92, 37.24], [74.57, 37.03], [72.56, 36...."
1,Albania,2000,16.799999,20.0,37.599998,3.0,461078,35035,426043,"[[[[19.44, 41.02], [19.37, 41.85], [19.65, 42...."
2,Algeria,2000,17.500000,15.8,30.700001,0.7,3296121,76851,3219270,"[[[[2.96, 36.8], [8.62, 36.94], [8.18, 36.52],..."
3,Andorra,2000,19.400000,30.5,37.000000,24.4,15541,6442,9100,"[[[[1.78, 42.57], [1.72, 42.51], [1.45, 42.6],..."
4,Angola,2000,22.100000,8.9,16.900000,1.3,648075,46818,601257,"[[[[14, -5.85], [16.58, -5.9], [17.62, -8.1], ..."

In [33]:
#remove duplicated somoa value
display(cleaned_2000.iloc[135])
cleaned_2000.drop(135, inplace=True)
cleaned_2000

Country Name                                                                               Samoa
Year                                                                                        2000
Average cigarettes smoked per day by smoker                                            19.700001
Percentage of smokers in male population                                               27.299999
Percentage of smokers in female population                                             38.700001
Percentage of smokers in population                                                         15.0
Total number of smokers                                                                    28297
Total number of female smokers                                                              7474
Total number of male smokers                                                               20823
coordinates                                    [[[[-171.43, -14.02], [-172.06, -13.87], [-171...
Name: 142, dtype: object

C:\Users\tamik\AppData\Local\Temp\ipykernel_14728\4235929567.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_2000.drop(135, inplace=True)

,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers,coordinates
0,Afghanistan,2000,3.700000,11.800000,21.000000,2.3,1228925,120114,1108812,"[[[[74.92, 37.24], [74.57, 37.03], [72.56, 36...."
1,Albania,2000,16.799999,20.000000,37.599998,3.0,461078,35035,426043,"[[[[19.44, 41.02], [19.37, 41.85], [19.65, 42...."
2,Algeria,2000,17.500000,15.800000,30.700001,0.7,3296121,76851,3219270,"[[[[2.96, 36.8], [8.62, 36.94], [8.18, 36.52],..."
3,Andorra,2000,19.400000,30.500000,37.000000,24.4,15541,6442,9100,"[[[[1.78, 42.57], [1.72, 42.51], [1.45, 42.6],..."
4,Angola,2000,22.100000,8.900000,16.900000,1.3,648075,46818,601257,"[[[[14, -5.85], [16.58, -5.9], [17.62, -8.1], ..."
...,...,...,...,...,...,...,...,...,...,...
183,Venezuela,2000,15.100000,17.700001,23.500000,11.8,2856345,954587,1901758,"[[[[-69.77, 11.7], [-68.42, 11.18], [-68.16, 1..."
184,Vietnam,2000,11.200000,25.500000,50.099998,2.5,14126647,723536,13403111,"[[[[105.58, 23.06], [106.71, 22.86], [106.69, ..."
186,Yemen,2000,25.100000,18.000000,27.000000,8.8,1617865,394394,1223470,"[[[[52.23, 15.67], [43.96, 12.59], [43.25, 13...."
187,Zambia,2000,5.000000,11.100000,19.500000,2.9,609767,79089,530678,"[[[[24.97, -17.56], [23.48, -17.63], [22, -16...."
188,Zimbabwe,2000,20.700001,11.000000,19.900000,2.3,793598,85713,707885,"[[[[32.99, -17.27], [32.7, -18.94], [33.02, -1..."

In [34]:
# Merge the cordinates and the smoking DataFrames
coordinates_2012 = smoking_2012.merge(borders_normalised_df, on=['Country Name'], how='left')
coordinates_2012
coordinates_2012.drop_duplicates(subset=['Country Name'])
coordinates_2012

,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers,type,coordinates
0,Afghanistan,2012,5.200000,11.900000,21.100000,2.5,1862700,193836,1668864,MultiPolygon,"[[[[74.92, 37.24], [74.57, 37.03], [72.56, 36...."
1,Albania,2012,19.900000,20.500000,37.299999,3.9,509040,48426,460614,MultiPolygon,"[[[[19.44, 41.02], [19.37, 41.85], [19.65, 42...."
2,Algeria,2012,24.400000,11.200000,21.299999,0.9,3123101,122671,3000430,MultiPolygon,"[[[[2.96, 36.8], [8.62, 36.94], [8.18, 36.52],..."
3,Andorra,2012,19.900000,26.600000,31.500000,22.0,17757,7542,10216,MultiPolygon,"[[[[1.78, 42.57], [1.72, 42.51], [1.45, 42.6],..."
4,Angola,2012,17.900000,8.700000,16.299999,1.5,954216,81267,872950,MultiPolygon,"[[[[14, -5.85], [16.58, -5.9], [17.62, -8.1], ..."
...,...,...,...,...,...,...,...,...,...,...,...
184,Vietnam,2012,13.900000,20.700001,40.900002,1.5,14464714,530579,13934135,MultiPolygon,"[[[[105.58, 23.06], [106.71, 22.86], [106.69, ..."
185,World,2012,17.700001,18.600000,31.100000,6.2,967313733,160033187,807280565,NaN,NaN
186,Yemen,2012,30.400000,14.300000,22.900000,5.7,2017418,399384,1618034,MultiPolygon,"[[[[52.23, 15.67], [43.96, 12.59], [43.25, 13...."
187,Zambia,2012,7.200000,11.400000,20.799999,2.1,854674,79548,775126,MultiPolygon,"[[[[24.97, -17.56], [23.48, -17.63], [22, -16...."
188,Zimbabwe,2012,20.600000,11.300000,21.299999,1.9,929016,78120,850896,MultiPolygon,"[[[[32.99, -17.27], [32.7, -18.94], [33.02, -1..."

In [35]:
#Drop missing value in merged file
cleaned_2012 = coordinates_2012.dropna()
cleaned_2012
cleaned_2012.drop(columns=['type'], inplace=True)
cleaned_2012

C:\Users\tamik\AppData\Local\Temp\ipykernel_14728\770465613.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_2012.drop(columns=['type'], inplace=True)

,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers,coordinates
0,Afghanistan,2012,5.2,11.900000,21.100000,2.5,1862700,193836,1668864,"[[[[74.92, 37.24], [74.57, 37.03], [72.56, 36...."
1,Albania,2012,19.9,20.500000,37.299999,3.9,509040,48426,460614,"[[[[19.44, 41.02], [19.37, 41.85], [19.65, 42...."
2,Algeria,2012,24.4,11.200000,21.299999,0.9,3123101,122671,3000430,"[[[[2.96, 36.8], [8.62, 36.94], [8.18, 36.52],..."
3,Andorra,2012,19.9,26.600000,31.500000,22.0,17757,7542,10216,"[[[[1.78, 42.57], [1.72, 42.51], [1.45, 42.6],..."
4,Angola,2012,17.9,8.700000,16.299999,1.5,954216,81267,872950,"[[[[14, -5.85], [16.58, -5.9], [17.62, -8.1], ..."
...,...,...,...,...,...,...,...,...,...,...
183,Venezuela,2012,19.6,16.600000,21.600000,11.6,3530702,1239124,2291578,"[[[[-69.77, 11.7], [-68.42, 11.18], [-68.16, 1..."
184,Vietnam,2012,13.9,20.700001,40.900002,1.5,14464714,530579,13934135,"[[[[105.58, 23.06], [106.71, 22.86], [106.69, ..."
186,Yemen,2012,30.4,14.300000,22.900000,5.7,2017418,399384,1618034,"[[[[52.23, 15.67], [43.96, 12.59], [43.25, 13...."
187,Zambia,2012,7.2,11.400000,20.799999,2.1,854674,79548,775126,"[[[[24.97, -17.56], [23.48, -17.63], [22, -16...."
188,Zimbabwe,2012,20.6,11.300000,21.299999,1.9,929016,78120,850896,"[[[[32.99, -17.27], [32.7, -18.94], [33.02, -1..."

In [36]:
#remove duplicated somoa row
display(cleaned_2012.iloc[135])
cleaned_2012.drop(135, inplace=True)
cleaned_2012

Country Name                                                                               Samoa
Year                                                                                        2012
Average cigarettes smoked per day by smoker                                                 20.0
Percentage of smokers in male population                                                    22.4
Percentage of smokers in female population                                                  31.6
Percentage of smokers in population                                                         12.7
Total number of smokers                                                                    26316
Total number of female smokers                                                              7260
Total number of male smokers                                                               19056
coordinates                                    [[[[-171.43, -14.02], [-172.06, -13.87], [-171...
Name: 142, dtype: object

C:\Users\tamik\AppData\Local\Temp\ipykernel_14728\197769206.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_2012.drop(135, inplace=True)

,Country Name,Year,Average cigarettes smoked per day by smoker,Percentage of smokers in male population,Percentage of smokers in female population,Percentage of smokers in population,Total number of smokers,Total number of female smokers,Total number of male smokers,coordinates
0,Afghanistan,2012,5.2,11.900000,21.100000,2.5,1862700,193836,1668864,"[[[[74.92, 37.24], [74.57, 37.03], [72.56, 36...."
1,Albania,2012,19.9,20.500000,37.299999,3.9,509040,48426,460614,"[[[[19.44, 41.02], [19.37, 41.85], [19.65, 42...."
2,Algeria,2012,24.4,11.200000,21.299999,0.9,3123101,122671,3000430,"[[[[2.96, 36.8], [8.62, 36.94], [8.18, 36.52],..."
3,Andorra,2012,19.9,26.600000,31.500000,22.0,17757,7542,10216,"[[[[1.78, 42.57], [1.72, 42.51], [1.45, 42.6],..."
4,Angola,2012,17.9,8.700000,16.299999,1.5,954216,81267,872950,"[[[[14, -5.85], [16.58, -5.9], [17.62, -8.1], ..."
...,...,...,...,...,...,...,...,...,...,...
183,Venezuela,2012,19.6,16.600000,21.600000,11.6,3530702,1239124,2291578,"[[[[-69.77, 11.7], [-68.42, 11.18], [-68.16, 1..."
184,Vietnam,2012,13.9,20.700001,40.900002,1.5,14464714,530579,13934135,"[[[[105.58, 23.06], [106.71, 22.86], [106.69, ..."
186,Yemen,2012,30.4,14.300000,22.900000,5.7,2017418,399384,1618034,"[[[[52.23, 15.67], [43.96, 12.59], [43.25, 13...."
187,Zambia,2012,7.2,11.400000,20.799999,2.1,854674,79548,775126,"[[[[24.97, -17.56], [23.48, -17.63], [22, -16...."
188,Zimbabwe,2012,20.6,11.300000,21.299999,1.9,929016,78120,850896,"[[[[32.99, -17.27], [32.7, -18.94], [33.02, -1..."

In [37]:
#export files to csv
output_file_path_2000= Path('Resources\coordinates_2000.csv') 
coordinates_2000.to_csv(output_file_path_2000, index=False)

In [38]:
output_file_path_2012= Path('Resources\coordinates_2012.csv') 
coordinates_2012.to_csv(output_file_path_2012, index=False)

In [39]:
#export files to csv
output_file_path_cleaned_00= Path('Resources\coordinates_2000_cleaned.csv') 
cleaned_2000.to_csv(output_file_path_cleaned_00, index=False)

In [40]:
output_file_path_cleaned_2012= Path('Resources\coordinates_2012_cleaned.csv') 
cleaned_2012.to_csv(output_file_path_cleaned_2012, index=False)